*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:#253560;
    --red-color:#E2584D;
    --angle: 45deg;
    --opacity: 0.5;
}
body{
    background-color: var(--main-color);
    font-family: Asap, sans-serif;
}
header{
    padding: 20px;
    background-color: white;
}
header>h1{
    color:var(--main-color);    
    text-align: center;
}
.score-board{
    width:300px;
    border: 3px solid transparent;
    border-image:
    conic-gradient(
        from var(--angle),
        #af7b39 0deg 180deg,
        var(--main-color) 180deg 270deg,
        #b56060 270deg 360deg
      ) 1 ;    
    margin: 20px auto;
    color: white;
    font-size: 46px;
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;
    position: relative;
    animation: rotate 4s linear infinite, opacityChange 3s infinite alternate;
    border-radius: 5px;
}
@supports (background: paint(houdini)) {
    @property --opacity {
      syntax: "<number>";
      initial-value: 0.5;
      inherits: false;
    }
  
    @property --angle {
      syntax: "<angle>";
      initial-value: 0deg;
      inherits: false;
    }
  
    @keyframes opacityChange {
      to {
        --opacity: 1;
      }
    }
  
    @keyframes rotate {
      to {
        --angle: 360deg;
      }
    }
  
  }
.badge{
    background-color: var(--red-color);
    font-size: 14px;
    padding: 2px 10px;
}
#user-label{
    position: absolute;
    top:30px;
    left:-25px;
}
#computer-label{
    position: absolute;
    top:30px;
    right:-25px;
}
.result{
    font-size: 40px;
    color:white;
}
.result>p{
    text-align: center;
    font-weight: bold;
}
.choices{
    text-align: center;
    margin-top: 50px ;
}
.choice{
    display: inline-block;
    border: 4px solid white;
    border-radius: 50%;
    font-size: 46px;
    width: 80px;
    height: 80px;
    margin: 0 20px;
    transition: all 0.3s ease;
}
.choice:hover{
    cursor: pointer;
    background-color: #99b0df;
    transform: scale(1.2);
}
#action-message{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 25px;
}
.green-glow{
  border: 4px solid #4dcc7d;
  box-shadow: 0 0 10px #31b43a ;
}

.red-glow{
  border: 4px solid #fc121b;
  box-shadow: 0 0 10px #d01115 ;
}
.grey-glow{
  border: 4px solid #464647;
  box-shadow: 0 0 10px #25292b ;
}
@media (max-width:600px){
  .choices{
    display:flex;
    flex-direction:column;
    
  }
  .choice{
    margin:10px auto;
  }
  #action-message{
    margin-bottom:100px;
  }
}